<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <title>BookShelf</title>
</head>

<body class="m-3">
    <div class="content row ">
        <div th:replace="fragments/header :: header"></div>
        <div class="col-9">
            <div class="row">
                <div class="col-6">
                    <img th:src="${book.bookPhotoUrl}" alt="Image of book" srcset="" width="380px" height="380px">
                </div>
                <div class="col-6 ml-1 py-2">
                    <h3 th:text="${book.name}"></h3>
                    <hr />
                    <div class="row">
                        <small class="col-6 text-primary ">Number of Page : </small>
                        <p th:text="${book.numberOfPages}" class="col-3 text-danger"></p>
                    </div>
                    <hr>
                    <div class="row">
                        <small class="col-6 text-primary ">ISBN </small>
                        <p th:text="${book.isbn}" class="col-3 text-success"></p>
                    </div>
                    <hr>
                    <div class="row">
                        <small class="col-6 text-primary ">Language </small>
                        <p th:text="${book.language}" class="col-3 text-success"></p>
                    </div>
                    <hr>
                    <div class="row">
                        <h6 class="col-6 text-primary">Short description</h6>
                        <small th:text="${book.shortDesc}" class="col-3 text-success"></small>
                    </div>
                    <hr>
                    <div class="rating row">
                        <small class="col-6 text-primary ">Rating</small>
                        <p th:text="${book.rating.rating}" class="col-3 text-success"></p>
                    </div>
                    <div class="col-6 mt-5">
                        <a th:href="@{/books/edit/{id}(id=${book.id})}" class="btn btn-primary">Edit book</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="col-3">Stuff</div> -->
    </div>

    <div class="row text-center" th:replace="fragments/footer :: footer">Stuff</div>
</body>

</html>